* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #7159c1;
}

header {
    background: yellow;
    grid-area: header;
}

main {
    background: blue;
    grid-area: main;
}

aside {
    background: green;
    grid-area: aside;
}

footer {
    background: red;
    grid-area: footer;

}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 15vh 70vh 15vh;
    grid-template-areas: 
    "header header"
    "main aside"
    ". footer";
}