* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.container {
    background: black;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-gap: 5px;

    /*justify-items: center;*/
    /*align-items: center;*/

    /*justify-content: center;*/
    /*align-content: center;*/
}

.container > div {
    background: #7159c1;
    width: 50%;
    height: 50%;

    justify-self: center;
    align-self: center;
}