.parent {
    background-color: hsla(200, 100%, 20%);
    height: 400px;
    width: 400px;
}

.child {
    background-color: red;
    height: 50%;
    width: 50%;
    animation: left-to-right 1s ease-in forwards infinite alternate;
}

.parent:hover .child {
    animation-play-state: paused;
}

@keyframes left-to-right {
    0% {
        background-color: red;
        transform: translateX(0);
    }

    33% {
        transform: translateY(100%);
    }

    50% {
        background-color: aqua;
    }

    66% {
        transform: translateX(100%) translateY(100%);
    }

    100% {
        background-color: gray;
        transform: translateX(100%);
    }
}