@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F1D8C9, #F2C3A7);
}

main {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(105, 65, 9, 0.600);
    background-color: white;
    width: 1000px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F39209;
    text-align: center;
    text-shadow: 1px 1px 0px #744f1d;
}

h2 {
    color: #092cf3;
}

p {
    text-align: justify;
}